*.meta

UniTopGame/.vscode
UniTopGame/Assets/*
UniTopGame/Library
UniTopGame/Logs
UniTopGame/obj
UniTopGame/Packages
UniTopGame/ProjectSettings
UniTopGame/Recordings
UniTopGame/Temp
UniTopGame/UserSettings
UniTopGame/*.*

!UniTopGame/Assets/Scripts